 #back{
  background-color:black;
  color:white;
 }


 #header{
   font-size:50px;
   width:800px
   height:250px;
   border: 1px solid red;
 }














 #container{
   width:800px;
   height:800px;
   border: 1px solid red;
 }

 #container2{
   position:relative;
   width:250px;
   height:700px;
   border: 1px solid red;
 }

 #tag1{
  position:relative;
  top 20px;
  }
 



  #tag2{
   position:relative;
   top:50px;
  }
 
   #tag3{
    position:relative;
   top:100px;
  }

  #tag4{
    position:relative;
   top:150px;
  }


 #container3{
   width:500px;
   height:550px;
   position:absolute;
   left:300px;
   top:100px;
   border: 1px solid red;
 }


 #label1{
   height:100px;
   background-color:rgb(255,255,0);
 }

 #video{
   position:relative;
   top:100px ;
   border: 1px solid red;
 }


 #footer{
   width:800px;
   height:100px;
   background-color:rgb(25,30,214);
 }


